.box{
    background-color: rgba(91, 132, 196,0.733);
    border-radius: 0px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    border-radius: 18px;
    border: solid black;
}

.box2{
    display: flexbox;
    justify-content: center;
    background-color: rgba(91, 132, 196,0.733);
    border-radius: 0px;
    margin: auto;
    height: 670px;
    width: 904px;
    border-radius: 18px;
    border: solid black;
}

#qr{
    margin: 190px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 250px; */
}

.top-left{
    margin-left: 40px;
    margin-right: 60px;
}
.top-right{
    margin-left: 60px;
    margin-right: 40px;
}
.bottom-right{
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 40px;
}
.bottom-left{
    margin-left: 40px;
    margin-top: 100px;
    margin-right: 60px;
}

#location{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

#l1{
    width: 100px;
    display: inline-block;
}

#validity{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

#v1{
    width: 100px;
    display: inline-block;
}

#type{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

#t1{
    width: 100px;
    display: inline-block;
}

#s1{
    margin-left: 20px;
    border-radius: 14px;
    height: 28px;
    width: 200px;
    display: inline-block;
}

/* adding a box around each individual pass */
.pass{
    background: rgba(94, 139, 211, 0.733);
    padding: 20px;
    border-radius: 20px;
    border: solid rgba(177, 193, 218, 0.733);
}

#tl{
    margin-left: 10px;
    margin-top: 30px;
}

#bl{
    margin-left: 10px;
    margin-bottom: 30px;
}

#tr{
    margin-right: 10px;
    margin-top: 30px;
}

#br{
    margin-right: 10px;
    margin-bottom: 30px;
}

#newpass{
    margin: 115px 240px;
    border: solid black;
    background-color: rgba(177, 193, 218, 0.733);
    border-radius: 15px;
    padding: 35px;
}

#payopt{
    margin: 145px 240px;
    border: solid black;
    background-color: rgba(177, 193, 218, 0.733);
    border-radius: 15px;
    padding: 25px;
}

#s2{
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 14px;
.usn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.usn_heading{
    grid-row: 1;
    grid-column: 1;
    margin-left: 100px;
}
.usn_inp{
    display: inline;
    grid-row : 2;
    grid-column: 1;
    margin-left: 100px;
    width: 200px;
    border-radius: 14px;
}

.lginbtn{
    background-color: orange;
    border-radius: 14px;
    width: 96px;
    height: 42px;
    grid-column: 1;
    margin-left: 404px;
    margin-top: 80px;
}

.s{
    width: auto;
    margin-left: 340px;
    margin-top: 30px;
}

.sup{
    text-align: center;
    padding: 50px;
}

.c_acc{
    color: white;
    margin-left: 50px;
}

.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#sin{
    grid-row: 1;
}

.sin{
    margin-left: 100px;
    border-radius: 14px;
    margin-top: 14px;
    width: 200px;
    text-align: center;
}

#spem{
    grid-row: 2;
}

#spwd{
    grid-row: 3;
}

#scpwd{
    grid-row: 4;
}