.box{
    background-color: rgba(91, 132, 196,0.733);
    border-radius: 0px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    border-radius: 18px;
    border: solid black;
}

.box2{
    display: flexbox;
    justify-content: center;
    background-color: rgba(91, 132, 196,0.733);
    border-radius: 0px;
    margin: auto;
    height: 670px;
    width: 904px;
    border-radius: 18px;
    border: solid black;
}

/* qrcode allignment */
#qr{
    margin: 190px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 250px; */
}

/* passes.js css */
.top-left,.bottom-left{
    margin-left: 40px;
    margin-top: 20px;
    /* margin-right: 20px; */
}

.top-right,.bottom-right{
    /* margin-left: 40px; */
    margin-right: 40px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

/* adding a box around each individual pass */
.pass{
    background: rgba(94, 139, 211, 0.733);
    padding: 5px;
    border-radius: 20px;
    border: solid rgba(177, 193, 218, 0.733);
}

#npassbtn{
    margin-left: 404px;
    background-color: orange;
    border-radius: 14px;
    width: 96px;
    height: 42px;
    grid-column: 1;
}

/* landing css */
.lgbt{
    background-color: orange;
    margin-top: 50px;
    width: 200px;
    border: solid black;
    border-radius: 14px;
}

#lgbt1{
    margin-left: 175px;
}

#lgbt2{
    margin-right: 100px;
    margin-left: 20px;
}

/* manage lot css */
.manage{
    background: rgba(94, 139, 211, 0.733);
    padding: 5px;
    border-radius: 20px;
    border: solid rgba(177, 193, 218, 0.733); 
    justify-content: center;
}


#location{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

#l1{
    width: 100px;
    display: inline-block;
}

#validity{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

#v1{
    width: 100px;
    display: inline-block;
}

#type{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

#t1{
    width: 100px;
    display: inline-block;
}

#s1{
    margin-left: 20px;
    border-radius: 14px;
    height: 28px;
    width: 200px;
    display: inline-block;
}

#tl{
    margin-left: 10px;
    margin-top: 30px;
}

#bl{
    margin-left: 10px;
    margin-bottom: 30px;
}

#tr{
    margin-right: 10px;
    margin-top: 30px;
}

#br{
    margin-right: 10px;
    margin-bottom: 30px;
}

#newpass{
    margin: 115px 240px;
    border: solid black;
    background-color: rgba(177, 193, 218, 0.733);
    border-radius: 15px;
    padding: 35px;
}

#payopt{
    margin: 145px 240px;
    border: solid black;
    background-color: rgba(177, 193, 218, 0.733);
    border-radius: 15px;
    padding: 25px;
}

#s2{
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 14px;
}
.usn{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 50px 
}

.usn_heading{
    grid-row: 1;
    grid-column: 1;
    margin-left: 100px;
}
.usn_inp{
    display: inline;
    grid-row : 2;
    grid-column: 1;
    margin-left: 200px;
    width: 200px;
    border-radius: 14px;
}

.lginbtn{
    background-color: orange;
    border-radius: 14px;
    width: 96px;
    height: 42px;
    grid-column: 1;
    margin-left: 130px;  
    margin-top: 20px; 
}

.s{
    width: auto;
    margin-top: 30px;
}

.sup{
    text-align: center;
    padding: 50px;
}

.c_acc{
    color: white;
    margin-left: 50px;
}

.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#sin{
    grid-row: 1;
}

.sin{
    margin-left: 100px;
    border-radius: 14px;
    margin-top: 14px;
    width: 200px;
    text-align: center;
}

#spem{
    grid-row: 2;
}

#spwd{
    grid-row: 3;
}

#scpwd{
    grid-row: 4;
}

.lo{
    padding-top: 30px;
}

.day{
    display: block;
}

.rect{
    display: inline-block;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    text-align: center;
    margin: 50px;
}

.mlotbtn{
    width: 200px;
    margin-top: 220px;
    margin-left: 356px;
    background-color: orange;
    border-radius: 14px;
}

.disp{
    text-align: center;
    display: inline-block;
}

.disp-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.d1{
    grid-column: 1;
}

#landing{
    background: rgba(94, 139, 211, 0.733);
    padding: 20px;
    border-radius: 20px;
    border: solid rgba(177, 193, 218, 0.733);
    margin: 100px 100px;
}

/* change all links to blue*/
.link{
    color: darkblue;
}

#sup{
    padding-left: 250px;
    padding-bottom: 30px;
}

#supbtn{
    margin-right: 200px;
}

#paysuc{
    padding: 220px;
}